NUM_WORKERS_PER_QUEUE=8
PORT=
HOST=
SUPABASE_ANON_TOKEN=
SUPABASE_URL=
SUPABASE_SERVICE_TOKEN=
REDIS_URL=
REDIS_RATE_LIMIT_URL=
SCRAPING_BEE_API_KEY=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
BULL_AUTH_KEY=
LOGTAIL_KEY=
PLAYWRIGHT_MICROSERVICE_URL=
SEARCHAPI_API_KEY=

ALLOW_LOCAL_WEBHOOKS=
AUTUMN_SECRET_KEY=
BLOCK_MEDIA=
LOGGING_LEVEL=
MODEL_EMBEDDING_NAME=
MODEL_NAME=
NUQ_BACKEND=
OLLAMA_BASE_URL=
OPENAI_BASE_URL=
PROXY_PASSWORD=
PROXY_SERVER=
PROXY_USERNAME=
SEARXNG_CATEGORIES=
SEARXNG_ENDPOINT=
SEARXNG_ENGINES=
SELF_HOSTED_WEBHOOK_URL=
SLACK_WEBHOOK_URL=
TEST_API_KEY=
